html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: Calibri;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav {
    margin-left: 10px;
}

#nav a.active {
    padding-top: 8px;
    background-color: lightseagreen;
}

#nav a {
    border-radius: 5px 5px 0px 0px;
    padding: 5px 5px 0px 5px;
    background-color: red;
}

#nav a:hover {
    padding-top: 8px;
}

#head {
    background-color: black;
    width: 100%;
}

#head h1 {
    text-align: center;
    color: white;
    margin: 0px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main a {
    color: black;
    text-decoration: none;
}

table {
    margin: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    width: fit-content;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

#foot {
    background-color: black;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: white;
}

#foot a {
    color: white;
    text-decoration: none;
}