html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#head {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    width: 80%;
    height: 1400px;
    background-color: white;
    margin-left: 10%;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgrey;
    border: 2px solid black;
    max-width: 50%;
    max-height: 400px;
}

img {
    max-width: 300px;
    margin: 5px;
}

button {
    max-height: 20px;
    max-width: 100px;
}