html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#head {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

#main {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: 400px 400px 400px 400px 400px 400px 400px;
    width: 80%;
    height: 100%;
    background-color: white;
    padding: 5px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border: 2px solid black;
    max-width: auto;
    max-height: 400px;
}

h3 {
    margin: 2px;
    padding: 0px;
}

a {
    font-weight: bold;
}

img {
    max-width: 300px;
    margin: 5px;
}

button {
    max-height: 20px;
    max-width: 100px;
}