html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#head {
    width: 100%;
    height: 300px;
    display: flex;
}

#main {
    display: flex;
    width: 80%;
    height: 1400px;
    background-color: white;
    justify-content: center;
    margin: 20%;
}

.item {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
    border: 2px solid black;
    max-width: 1fr;
    max-height: 400px;
}

button {
    max-height: 16px;
}